@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --preto: #000000;
    --cor1: #074978;
    --cor2:#0C77C4;
    --cor3:#1098F7;
    --cor4:#bbd0e0;
    --branco: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--cor4);
    padding: 0px 10px;
}

header {
    background-color: var(--cor1);
    padding: 30px 0px;
    margin: 0px -10px;
}

header h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.424);
}

nav {
    background-color: var(--cor1);
    box-shadow: 3px 3px 8px var(--cor1);
    margin: 0px -10px;
    padding: 10px;
}

nav a {
    color: var(--branco);
    padding: 10px 17px;
}

nav a:hover {
    background-color: var(--cor2);
    transition-duration: 0.5s;
    color: var(--preto);
}

main {
    max-width: 1100px;
    min-width: 350px;
    margin: auto;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
}

h2 {
    color: var(--cor3);
    font-weight: 500;
}

main > p {
    font-weight: 500;
    text-indent: 20px;
    text-align: justify;
    margin: 5px 0px 10px 0px;
}

#padrao {
    display: block;
    width: 80%;
    margin: 0px auto 20px auto;
}

#media900, #media600 {
    display: none;
}

ul {
    list-style-position: inside;
}

li {
    font-weight: 500;
}

footer {
    max-width: 1100px;
    min-width: 350px;
    margin: 0px auto 5px auto;
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

footer p {
    color: var(--branco);
}

footer a {
    color: var(--branco);
}

footer a:hover {
    background-color: var(--cor2);
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 5px;
    color: var(--preto);
    font-weight: 600;
}

@media (max-width: 900px) {
    #padrao {
        display: none;
    }
    
    #media900 {
        display: block;
        width: 80%;
        margin: 0px auto 20px auto;
    }
}

@media (max-width: 600px) {
    #media900 {
        display: none;
    }

    #media600 {
        display: block;
        width: 80%;
        margin: 0px auto 20px auto;
    }

    header {
        padding: 40px 0px;
    }

    nav {
        display: none;
    }

    main, footer {
        margin: 0px -10px;
        border-radius: 0px;
    }

    footer {
        padding: 25px;
    }
}

