@charset "UTF-8";

main {
    background-color: white;
    width: 750px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #1c3230;
}

body {
    background-image: linear-gradient(to top, #254441, #43AA8B);
    background-attachment: fixed;
}

h1 {
    color: #44474e;
    font-family:'Times New Roman', Times, serif;                    
    font-size: 2em;
}

h2 {
    color: #3d3f42;
    font-family:'Courier New', Courier, monospace;                             
    font-size: 1.3em;
}

p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 1em;
}

