@charset 'UTF-8';

main {
    font-family: Tahoma, sans-serif;
    margin: auto;
    background-color: rgba(0, 255, 255, 0.288);
    padding: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 120px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: rgb(38, 116, 126);
    color: rgb(0, 0, 0);
}

th {
    width: 120px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: rgb(33, 95, 104);
    color: white;
}

caption {
    background-color: rgba(95, 95, 197, 0.61);
    padding: 10px;
    color: white;
    font-weight: bold;
}

