@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;             /*COBRE A TELA, MAS CORTA A IMAGEM*/
    background-attachment: fixed;       /*FUNDO FICA DIXO*/
}

main {      /*CONTÊINER EXTERNO AO CONTEÚDO CENTRALIZADO*/
    position: relative;     /*DECLARAÇÃO NECESSÁRIA*/
    height: 100vh;
}

section#telefone {      /*CONTÊINER A SER CENTRALIZADO*/
    position: absolute;     /**DECLARAÇÃO NECESSÁRIA*/
    top: 50%;                           /*DEIXA O TOPO ESQUERDO NO MEIO*/
    left: 50%;
    transform: translate(-50%, -50%);   /*CORRIGE PARA CENTRO COM CENTRO*/
    height: 627px;
    width: 311px;
    background: url('imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 264px;
    height: 467px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    box-sizing: border-box;     /*torna a borda parte da caixa*/

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 108, 40, 0.486);
    transform: translate(-3px, -3px);       /*CORRIGE A POSIÇÃO DA CAIXA*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    transition: transform 0.25s, border 0.5s;       /*DETERMINA O TEMPO DAS TRANSFORMAÇÕES*/
}

