@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Patrick+Hand&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');    

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Patrick+Hand&display=swap');

body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: #6883BA;
}

#sombrah1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    text-align: center;
    color: #3D3B8E;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.333);        /*SOMBRA INTERNA (INSET)*/
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    text-align: center;
    color: #3D3B8E;
}

#sombrah2 {
    color: #ec84b3;
    font-size: 2em;
    box-shadow: inset 0px 0px 20px -10px #00000040;             /*SOMBRA INTERNA COM EMBAÇAMENTO*/
}

h2 {
    color: #ec84b3;
    font-size: 2em;
}

#sombranav {
    background-color: #ffedf5;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.347);               /*SOMBRA EXTERNA*/
}

nav#arredondanav {                                                /*BORDER RADIUS COM 2 VALORES*/
    background-color: #ffedf5;
    border-radius: 10px 0px;
}

nav > a {                               
    color: #08090A;
    text-decoration: none;
    padding-left: 40px;
}

nav > a:hover {
    font-size: 1.1em;
    color: #ec84b3;
}

#plinks {
    margin: 2px;
}

header#arredondaheader {                                          /*BORDER RADIUS COM 1 VALOR SOMENTE*/            
    background-color: #F9F9F9;
    width: 700px;
    padding: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 10px;
}

header {                                               
    background-color: #F9F9F9;
    width: 700px;
    padding: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

main#arredondamain {                                              /*BORDER RADIUS COM 4 VALORES*/                     
    background-color: #F9F9F9;
    padding: 10px;
    width: 700px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
}

main {                                                                 
    background-color: #F9F9F9;
    padding: 10px;
    width: 700px;
    margin: auto;
}

h3 {
    color: #EC9A29;
    font-size: 1.5em;
    margin: 2px;
}

p {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: justify;
    text-indent: 20px;
    color: #08090A;
}

article {
    background-color: #afe298c9;
    padding: 5px;
}

article > aside {
    background-color: #afe29876;
    width: 680px;
    text-indent: 5px;
    font-size: 0.8em;
    margin: auto;
}

div#bola {                                                        /*USANDO BORDER-RADIUS PARA FAZER UMA BOLA*/
    width: 100px;
    height: 100px;
    background-color: #ec84b3;
    border-radius: 50%;
}

footer {
    background-color: black;
    width: 700px;
    padding: 10px;
    margin: auto;
}

footer > p{
    color: white;
    text-align: center;
}

