@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    color: black;
}

body {
    background-image: linear-gradient(to top, #394053, #4E4A59, #6E6362, #839073, #7CAE7A);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 750px;                               /*LARGURA DO CONTEÚDO*/
    padding: 10px;                              /*DETERMINA A DISTÂNCIA DO TEXTO PRA BORDA DA MAIN*/
    margin: auto;                               /*CENTRALIZA A MAIN DE ACORDO COM O TAMANHO DA JANELA*/
    border-radius: 10px;                        /*ARREDONDA A BORDA DA MAIN*/
    box-shadow: 10px 10px 10px #2c31418f;     /*ADICIONA UM SOMBREADO NA MAIN*/
}

h1 {
    color: #394053;
    text-align: center;
    text-shadow: 1px 1px 2px #22263181;       /*ADICIONA UM SOMBREADO NO H1*/
}

h2 {
    color: #4E4A59;
}

