@charset 'UTF-8';

/*AMBAS*/

body {
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 800px;
    margin: auto;
    background-color: rgba(145, 228, 200, 0.637);
    border-radius: 20px 0px 20px 0px;
    padding: 30px;
}

/*PRIMEIRA TELA*/

table#menor {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td{
    border: 1px solid  black;
    padding: 8px;
    text-align: center; /*ALINHAMENTO HORIZONTAL*/
    vertical-align: middle; /*top middle bottom*/
}

/*SEGUNDA TELA*/

table#maior {
    width: 500px;
    border-collapse: collapse;
}

th{
    border: 1px solid  black;
    padding: 8px;
}

thead, tfoot {
    background-color: rgb(58, 58, 58);
    color: white;
}

td.num {
    text-align: right;
}

