@charset "UTF-8";

div {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

body {
    background-image: url('imagens/wallpaper001.jpg');
}

#q1 {
    background-color: violet;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3 {
    background-image: url('imagens/pattern003.png');    /*IMAGENS DE FUNDO*/
}

/*-------------------*/

#bodyDois {
    background-image: url('imagens/pattern001.png');
    background-size: 100px 100px;                       /*TAMANHO DAS IMAGENS DE FUNDO*/
}

#repeat1 {
    background-image: url('imagens/pattern002.png');
    background-repeat: repeat;                          /*MODOS DE REPETIÇÃO DAS IMAGENS DE FUNDO*/
}

#repeat2 {
    background-image: url('imagens/pattern002.png');
    background-repeat: no-repeat;                       /*MODOS DE REPETIÇÃO DAS IMAGENS DE FUNDO*/
}

#repeat3 {
    background-image: url('imagens/pattern002.png');
    background-repeat: repeat-x;                        /*MODOS DE REPETIÇÃO DAS IMAGENS DE FUNDO*/
}

#repeat4 {
    background-image: url('imagens/pattern002.png');
    background-repeat: repeat-y;                        /*MODOS DE REPETIÇÃO DAS IMAGENS DE FUNDO*/
}                           

/*TERCEIRA PAGINA*/

div.bloco {
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    background-image: url("imagens/wallpaper002.jpg");
}

div#i1 {
    background-position: left top;
}

div#i2 {
    background-position: left center;
}

div#i3 {
    background-position: right bottom;
}

div#i4 {
    background-position: center center;
}

