@charset "UTF-8";

/*BOX LEVEL*/
h1 {
    background-color: cadetblue;
    height: 100px;                      /*BOX SIZING*/
    width: 420px;

    border-width: 10px;                 /*TAMANHO DA BORDA*/
    border-style: solid;                /*TIPO DA BORDA*/
    border-color: aquamarine;         /*COR DA BORDA*/

    padding-top: 10px;                  /*PADDING CIMA*/
    padding-right: 10px;                /*PADDING DIREITA*/
    padding-bottom: 10px;               /*PADDING BAIXO*/
    padding-left: 10px;                 /*PADDING ESQUERDA*/

    margin-top: 20px;                   /*MARGIN CIMA*/
    margin-right: auto;                 /*MARGIN DIREITA*/
    margin-bottom: 40px;                /*MARGIN BAIXO*/
    margin-left: auto;                  /*MARGIN ESQUERDA*/

    outline-width: 5px;                 /*TAMANHO DO OUTLINE*/
    outline-style: dashed;              /*TIPO DO OUTLINE*/
    outline-color: blue;              /*COR DO OUTLINE*/
}

#segundoh1 {
    background-color: cadetblue;
    height: 100px;                      /*BOX SIZING*/
    width: 420px;

    border: 10px solid aquamarine;    /*SHORTHAND BORDER*/

    padding: 10px;                      /*SHORTHAND PADDING*/

    margin: 20px auto 40px auto;        /*SHORTHAND MARGIN*/

    outline: 5px dashed blue;         /*SHORTHAND OUTLINE*/
}

/*INLINE LEVEL*/
a {
    border-width: 10px;
    border-style: solid;
    border-color: violet;
}

#voltar {
    border: 10px solid violet;
}


/*display: block;                  ALTERANDO O FORMATO DA CAIXA*/
/*display: inline;                 ALTERANDO O FORMATO DA CAIXA*/

