body {
    background-image: linear-gradient(to top, #FECC6B, #F76732, #EC4652, #DA2A78, #AD349B, #515ED0,);    /*to top*/
    background-attachment: fixed;
    color: black;
}

h1 {
    background-image: linear-gradient(to right, white, black);  /*to right*/
}

h2 {
    background-image: linear-gradient(to left, white, black);   /*to left*/
    color: white;
}



